header{
    text-align: center;
    background-color: blue;
   
}
 img{

    width: 100px;
    height: 100px;
    border-radius: 50px;
    }
        

a {
    color: rgb(255, 0, 157);
   
  }
aside ul li{
    width: 200px;
    background-color: black; 
    list-style: none;
    padding: 10px;
  }